@import "tailwindcss";

@theme {
    --animate-slide-in: slide-in 300ms ease-out ;
}
@keyframes slide-in {
    from {
        transform: translateX(-100%)
    }
    to{
        transform: translateX((0))
    }
}

@layer base {
    a , span {
        @apply inline-block;
    }
    button, a {
        cursor: pointer;
    }
}

@layer components {
    .btn {
        @apply px-4 py-2 rounded-xl bg-gray-200 text-gray-900 font-semibold hover:bg-gray-300 transition-colors duration-200;
    }
    .form-control{
        @apply px-3 py-2 rounded-md border border-gray-400/40 focus:outline-none focus:border-green-600 focus:bg-green-50/70
    }
}

@utility container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: rgba(255,255,255,0.5) !important;
    opacity: 1 !important;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet:hover{
    background: rgba(255,255,255,0.8) !important;
    transform: scale(1.1);
}

.swiper-pagination-bullet-active {
    background: rgba(255,255,255,1) !important;
    width: 32px !important;
    border-radius: 6px !important;
} 

@keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
    }

    .animate-spin-slow {
    animation: spin-slow 6s linear infinite;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideUp {
    animation: slideUp 0.8s ease forwards;
}

.delay-200 {
    animation-delay: 0.2s;
}

.delay-400 {
    animation-delay: 0.4s;
}

@keyframes bgZoom {
    from { transform: scale(1); }
    to { transform: scale(1.05); }
}

.animate-bgZoom {
    animation: bgZoom 6s ease-in-out infinite alternate;
}

@keyframes cardReveal {
    0% {
    opacity: 0;
        transform: translateY(40px) scale(0.95);
    }
    60% {
        opacity: 1;
        transform: translateY(-6px) scale(1.02);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.card-hidden {
    opacity: 0;
}

.card-visible {
    animation: cardReveal 3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
}

@keyframes pulseSlow {
    0%, 100% {
        transform: scale(1);
        opacity: 0.4;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.6;
    }
}
.animate-pulseSlow {
    animation: pulseSlow 5s ease-in-out infinite;
}
